/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background-color: #f4f6f8;
  color: #222;
  line-height: 1.6;
}

/* SECTIONS */
section {
  padding: 60px 80px;
}

/* HEADINGS */
h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin: 15px 0 5px;
}

/* FORMS */
input,
textarea,
select {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 15px;
}

textarea {
  resize: none;
  height: 100px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #2563eb;
}

/* BUTTON */
button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1e4fd6;
}
